# ingore all
*

# unignore files
!*.*
!*.roc
!*.rvn
!repos/
!src/
!src/roc-ansi/
!repository
!repository/app-stubs
!repository/app-stubs/*
!assets
!.github/workflows/
!ci/
!src_new/
!themes/

# reignore files
*.DS_Store
*.py
progress.roc
src_new/test.roc
